body {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat";
}

/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}

.slogan {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat"
}

/* Dowload Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.phonedog {
  width: 60%;
  transform: rotate(25deg);
  z-index: 1;
  position: absolute;
  right: 30%;
}

.container-fluid {
  padding: 3% 15% 8%;
}

/* Features */
.features {
  text-align: center;
  padding: 4.5%;
}

.feat-head {
  font-weight: 900;
  font-family: "Montserrat"
}

.ficon {
  color: #ef8172;
  margin-bottom: 1rem
}

.ficon:hover {
  color: #ff4c68;
}

#Features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 2;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }
  .phonedog {
    position: static;
    transform: rotate(0);

  }}


/* Call To Action Section */

#cta {
  text-align: center;
  padding: 7% 15%;
  background-color: #ff4c68;

}

.cta-heading {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Montserrat"
}
.cta-btn {
  margin-top: 50px;
}

/* Footer */
#footer {
  text-align: center;
  padding: 2% 7%;
}

.footer-icons {
  margin: 10px
}

.cop-text {
  margin: 10px;
}
