
body {
  font-family: "Montserrat";
}

/* Nav Bar */

.navbar {
   
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
#title {
  background-color: #ff4c68;
  color: white;
}


.slogan {
  font-family: "Montserrat-Black"
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15%
}
